<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <script src="js/script.js" defer></script>
    <script src="js/view_books.js" defer></script>
    <title>Legendary Books</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <main>
        <div class="main-container">
            <h1>Legendary Books</h1>
            <div class="book-item">
                <img src="#" alt="Book cover">
                <div>
                    <div>Book Name</div>
                    <div>Author Name</div>
                    <div>Original Title</div>
                    <div>Original Language</div>
                    <div>Created Date: 17 Sept 2020</div>
                    <div>Last Updated Date: 30 Dec 2020</div>
                </div>
            </div>
            <div class="book-item">
                <img src="#" alt="Book cover">
                <div>
                    <div>Book Name</div>
                    <div>Author Name</div>
                    <div>Original Title</div>
                    <div>Original Language</div>
                    <div>Created Date: 17 Sept 2020</div>
                    <div>Last Updated Date: 4 Jan 2021</div>
                </div>
            </div>
            <div class="book-item">
                <img src="#" alt="Book cover">
                <div>
                    <div>Book Name</div>
                    <div>Author Name</div>
                    <div>Original Title</div>
                    <div>Original Language</div>
                    <div>Created Date: 17 Sept 2020</div>
                    <div>Last Updated Date: 14 Feb 2021</div>
                </div>
            </div>
            <div class="book-item">
                <img src="#" alt="Book cover">
                <div>
                    <div>Book Name</div>
                    <div>Author Name</div>
                    <div>Original Title</div>
                    <div>Original Language</div>
                    <div>Created Date: 17 Sept 2020</div>
                    <div>Last Updated Date: 30 Jun 2021</div>
                </div>
            </div>
        </div>

    </main>
    <footer></footer>
</body>
</html>