<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <script src="js/script.js" defer></script>
    <title>Legendary Books</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <main>
        <section id="splash">
            <img src="open-book.png" alt="Logo">
            <h1>Legendary Books</h1>
            <h3>On this site you'll only find the best books written in human history</h1>
            <h4>Can you finish the entire list in your lifetime?</h3>
            <a href="list_books.html">Take Me to The List!</a>
        </section>

    </main>
    <footer></footer>
</body>
</html>