<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <script src="js/script.js" defer></script>
    <script src="js/list_books.js" defer></script>
    <title>LB: Book List</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <main>
        <div class="main-container" id="book-list">
            <h1>Legendary Books</h1>
        </div>

    </main>
    <footer></footer>
</body>
</html>