<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js" defer></script>
    <script src="../js/manage_authors.js" defer></script>
    <title>Manage Authors</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <main>
        <div class="form-cont">
            <input type="text" name="authorSearch" id="authorSearch">
            <div id="author-search-output"></div>
            <form id="author-form" action="" novalidate>
                <div class="form-item">
                    <input type="text" name="authorID" id="authorID" hidden readonly>
                </div>
                <div class="form-item">
                    <input type="text" name="firstName" id="firstName">
                    <label for="firstName">First Name</label>
                </div>
                <div class="form-item">
                    <input type="text" name="lastName" id="lastName">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="form-item">
                    <input type="text" name="nationality" id="nationality">
                    <label for="nationality">Nationality</label>
                </div>
                <div class="form-item">
                    <input type="number" name="birthYear" id="birthYear">
                    <label for="birthYear">Year of Birth</label>
                </div>
                <div class="form-item">
                    <input type="number" name="deathYear" id="deathYear">
                    <label for="deathYear">Year of Death</label>
                </div>
                <input id="add-author-btn" type="button" value="Add Author">
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>