<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <script src="js/script.js" defer></script>
    <script src="js/manage_users.js" defer></script>
    <title>LB: Manage Users</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <main>
        <section class="main-container">
            <h1>Manage Users</h1>
            <form action="#" id="user-form">
                <div class="form-item search">
                    <label for="search-bar">Search for a user to edit or delete</label>
                    <input type="text" name="search-bar" id="search-bar" pattern="[A-Za-z]" placeholder="Enter search term..." maxlength="50">
                </div>
                <!-- Hidden input to hold user ID for update and delete operations -->
                <input type="text" name="user-id" id="user-id" value="" hidden>
                <div class="form-item">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" pattern="[A-Za-z0-9]{5,50}" placeholder="Enter a username" maxlength="100" required>
                </div>
                <div class="form-item">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" pattern="[A-Za-z0-9]{6,50}" placeholder="Password" maxlength="100" required>
                </div>
                <div class="form-item">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password" pattern="[A-Za-z0-9]{6,50}" placeholder="Confirm password" maxlength="100" required>
                </div>
                <div class="form-item">
                    <label for="user-fname">First Name</label>
                    <input type="text" name="user-fname" id="user-fname" pattern="[A-Za-z]{2,50}" placeholder="Enter first name" maxlength="50" required>
                </div>
                <div class="form-item">
                    <label for="user-lname">Last Name</label>
                    <input type="text" name="user-lname" id="user-lname" pattern="[A-Za-z]{2,50}" placeholder="Enter last name" maxlength="50" required>
                </div>
                <div class="form-item">
                    <label for="employee-id">Employee ID Number</label>
                    <input type="number" name="employee-id" id="employee-id" pattern="[0-9]{6}" placeholder="Enter employee ID number" minlength="6" maxlength="6" required>
                </div>
                <div class="form-item">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" maxlength="100" required>
                </div>
                <div class="form-item">
                    <label for="confirm-email">Confirm Email</label>
                    <input type="email" name="confirm-email" id="confirm-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Confirm email" maxlength="100" required>
                </div>
                <div class="form-submit">
                    <input type="submit" value="Add/Update">
                    <input type="submit" value="Delete">
                </div>
            </form>
        </section>
    </main>
    <footer></footer>
</body>
</html>