<nav>
    <ul class="mobile-display">
        <li><a href="index.html" class="far fa-book fa-2x"></a></li>
        <li><a href="manage_authors.html" class="far fa-address-book fa-2x"></a></li>
        <li><a href="manage_books.html" class="far fa-book-medical fa-2x"></a></li>
        <li><a href="manage_users.html" class="far fa-user-cog fa-2x"></a></li>
    </ul>
    <ul class="mobile-display-none">
        <li><a href="index.html">View Books</a></li><span class="desktop-display">|</span>
        <li><a href="manage_authors.html">Manage Authors</a></li><span class="desktop-display">|</span>
        <li><a href="manage_books.html">Manage Books</a></li><span class="desktop-display">|</span>
        <li><a href="manage_users.html">Manage Users</a></li>
    </ul>
</nav>