<nav>
    <ul class="mobile-display">
        <li><a href="index.html" class="far fa-home"></a></li>
        <li><a href="list_books.html" class="far fa-book"></a></li>
        <li class="logged-in"><a href="manage_authors.html" class="far fa-address-book"></a></li>
        <li class="logged-in"><a href="manage_books.html" class="far fa-book-medical"></a></li>
        <li class="logged-in admin-perms"><a href="manage_users.html" class="far fa-user-cog"></a></li>
    </ul>
    <ul class="mobile-display-none">
        <li><a href="index.html">Home</a></li><span class="desktop-display">|</span>
        <li><a href="list_books.html">View Books</a></li><span class="desktop-display logged-in">|</span>
        <li class="logged-in"><a href="manage_authors.html">Manage Authors</a></li><span class="desktop-display logged-in">|</span>
        <li class="logged-in"><a href="manage_books.html">Manage Books</a></li><span class="desktop-display logged-in  admin-perms">|</span>
        <li class="logged-in admin-perms"><a href="manage_users.html">Manage Users</a></li>
    </ul>
</nav>